<%- include("partials/header") -%>
    <div>
        <h1 style="text-align: center; margin-top:10px;"><%= titleOfPage %></h1>
        <div style="margin: 50px;">
            <p><%= paragraphText %></p>
        </div>
    </div>
<%- include("partials/footer") -%>