<%- include("partials/header") -%>
    <div>
        <h1 style="text-align: center;"><%= titleOfPage %></h1>
        <div>
            
        </div>
    </div>
<%- include("partials/footer") -%>