<%- include('./partials/header'); -%>



<div>
    

              
      <h1 style="text-align: center; color:#4B3869;">

             <%= title %>
        
        </h1>

        <hr>
        
        <p style="margin: 20px; background:cornsilk; padding:5px; color:#664E88;">

            <%= content %>

        </p>

        <hr>
</div>



<%- include("partials/footer") -%>
